/* google fonts */

@font-face {
  font-family: Monsterrat;
  src: url(/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Monsterrat;
  src: url(/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Monsterrat;
  src: url(/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Monsterrat;
  src: url(/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}

/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --primary-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
  --layout-width: min(1240px, 85vw);
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Monsterrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
  font: inherit;
}

img {
  display: inline-block;
  width: 100%;
}

button {
  border: none;
  font: inherit;
}

input {
  outline: none;
}

.section-width {
  max-width: var(--layout-width);
  margin-inline: auto;
}

.section-title {
  color: var(--primary-color);
  font-weight: 600;
}

.section-block-padding {
  padding-block: 60px;
}

@supports not (padding-block: 0) {
  .section-block-padding {
    padding: 60px 0;
  }
}

.logo__wrapper {
  display: inline-block;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.logo__wrapper img {
  width: 1.5rem;
  height: 1.5rem;
}

.logo__wrapper h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}

@media only screen and (max-width: 992px) {
  .section-title {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 1.4rem;
  }

  .logo__wrapper img {
    width: 1.2rem;
    height: 1.2rem;
  }

  .logo__wrapper h1 {
    font-size: 1rem;
  }
}
