.nav {
  height: 70px;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav__item a {
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
}

.nav__item a.nav__active {
  font-weight: 700;
}

.nav__icons {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  color: var(--primary-color);
}

.nav__icons .action-wrapper {
  position: relative;
}

.badge {
  position: absolute;
  top: -40%;
  right: -30%;
  content: '';
  font-size: 0.7rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 50%;
  font-weight: 600;
  z-index: 10;
  height: 1.2rem;
  width: 1.2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nav__icons .action-wrapper span i {
  font-size: 1.4rem;
  color: currentColor;
}

.nav__icons .action-wrapper span img {
  width: 30px;
  height: 30px;
}

.nav__icons i,
.nav__icons img {
  cursor: pointer;
}

.nav__icons :is(i, img) {
  cursor: pointer;
}

.cart__icon--image {
  transform: scale(1.2);
}

.mobile__menu {
  font-size: 1.3rem;
  color: var(--primary-color);
  margin-bottom: 0;
  display: none;
}

.sticky--header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 3px 3px 8px -3px #ddd;
  background-color: var(--card-bg-01);
}

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.523);
  z-index: 10;
  display: none;
  cursor: pointer;
}

.mobile-nav-panel {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 250px;
  height: 100%;
  z-index: 30;
}

@media (max-width: 768px) {
  .nav {
    height: 60px;
  }

  .nav__wrapper {
    justify-content: flex-end;
  }

  .nav__wrapper .logo {
    flex-grow: 1;
  }

  .logo__wrapper p {
    display: none;
  }

  html[toggle-menu] {
    scrollbar-width: 0;
  }

  html[toggle-menu] .mobile-nav-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  html[toggle-menu] .mobile-nav-panel .menu {
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
  }

  html[toggle-menu] .mobile-nav-panel .nav__item a {
    font-size: 1.4rem;
  }

  html[toggle-menu] .backdrop {
    display: block;
  }

  .mobile__menu {
    display: block;
    margin-left: 1rem;
    cursor: pointer;
  }

  .main-link-navigation {
    display: none;
  }

  .nav__icons .action-wrapper span i {
    font-size: 1.1rem;
  }

  .nav__icons .action-wrapper span img4 {
    width: 1.4rem;
    height: 1.4rem;
  }
}
